.max-width{
    max-width: 1200;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.logo{
    width: 54px;
    height: 54px;
    background-image: url("../img/navbar/logo/logo.png");
    background-size: 100% 100%;
}

#formLogin{
    margin: 0 auto;
    margin-top: 1.5%;
    width: 30%;
    height: 50%;
}
